/* Zwiki stylesheet - edit to change the wiki's appearance 
 *
 * This may be installed
 * - as the built-in skin method "/stylesheet" (default)
 * - as zodb file or dtml method "stylesheet" (anywhere in acquisition context)
 * - as wiki page "StyleSheet" (http://zwiki.org/HowToMakeAnEditableStyleSheet)
 */

/***********************************************************************-*-c-*-
 First, docutils' html4css stylesheet, inlined here for easy reference
 For easier upgrades, you may want to add your changes as overrides at the end
 *****************************************************************************/

/*
:Author: David Goodger
:Contact: goodger@users.sourceforge.net
:Date: $Date: 2006-02-02 19:09:16 -0600 (Thu, 02 Feb 2006) $
:Revision: $Revision: 4332 $
:Copyright: This stylesheet has been placed in the public domain.

Default cascading style sheet for the HTML output of Docutils.

See http://docutils.sf.net/docs/howto/html-stylesheets.html for how to
customize this style sheet.
*/

/* used to remove borders from tables and images */
.borderless, table.borderless td, table.borderless th {
  border: 0 }

table.borderless td, table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important }

.first {
  /* Override more specific margin styles with "! important". */
  margin-top: 0 ! important }

.last, .with-subtitle {
  margin-bottom: 0 ! important }

.hidden {
  display: none }

a.toc-backref {
  text-decoration: none ;
  color: black }

blockquote.epigraph {
  margin: 2em 5em ; }

dl.docutils dd {
  margin-bottom: 0.5em }

/* Uncomment (and remove this text!) to get bold-faced definition list terms
dl.docutils dt {
  font-weight: bold }
*/

div.abstract {
  margin: 2em 5em }

div.abstract p.topic-title {
  font-weight: bold ;
  text-align: center }

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
  margin: 2em ;
  border: medium outset ;
  padding: 1em }

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title {
  font-weight: bold ;
  font-family: sans-serif }

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
  color: red ;
  font-weight: bold ;
  font-family: sans-serif }

/* Uncomment (and remove this text!) to get reduced vertical space in
   compound paragraphs.
div.compound .compound-first, div.compound .compound-middle {
  margin-bottom: 0.5em }

div.compound .compound-last, div.compound .compound-middle {
  margin-top: 0.5em }
*/

div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

div.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal }

div.figure {
  margin-left: 2em ;
  margin-right: 2em }

div.footer, div.header {
  clear: both;
  font-size: smaller }

div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em }

div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }

div.sidebar {
  margin-left: 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
  width: 40% ;
  float: right ;
  clear: right }

div.sidebar p.rubric {
  font-family: sans-serif ;
  font-size: medium }

div.system-messages {
  margin: 5em }

div.system-messages h1 {
  color: red }

div.system-message {
  border: medium outset ;
  padding: 1em }

div.system-message p.system-message-title {
  color: red ;
  font-weight: bold }

div.topic {
  margin: 2em }

h1.section-subtitle, h2.section-subtitle, h3.section-subtitle,
h4.section-subtitle, h5.section-subtitle, h6.section-subtitle {
  margin-top: 0.4em }

h1.title {
  text-align: center }

h2.subtitle {
  text-align: center }

hr.docutils {
  width: 75% }

img.align-left {
  clear: left }

img.align-right {
  clear: right }

ol.simple, ul.simple {
  margin-bottom: 1em }

ol.arabic {
  list-style: decimal }

ol.loweralpha {
  list-style: lower-alpha }

ol.upperalpha {
  list-style: upper-alpha }

ol.lowerroman {
  list-style: lower-roman }

ol.upperroman {
  list-style: upper-roman }

p.attribution {
  text-align: right ;
  margin-left: 50% }

p.caption {
  font-style: italic }

p.credits {
  font-style: italic ;
  font-size: smaller }

p.label {
  white-space: nowrap }

p.rubric {
  font-weight: bold ;
  font-size: larger ;
  color: maroon ;
  text-align: center }

p.sidebar-title {
  font-family: sans-serif ;
  font-weight: bold ;
  font-size: larger }

p.sidebar-subtitle {
  font-family: sans-serif ;
  font-weight: bold }

p.topic-title {
  font-weight: bold }

pre.address {
  margin-bottom: 0 ;
  margin-top: 0 ;
  font-family: serif ;
  font-size: 100% }

pre.literal-block, pre.doctest-block {
  margin-left: 2em ;
  margin-right: 2em }

span.classifier {
  font-family: sans-serif ;
  font-style: oblique }

span.classifier-delimiter {
  font-family: sans-serif ;
  font-weight: bold }

span.interpreted {
  font-family: sans-serif }

span.option {
  white-space: nowrap }

span.pre {
  white-space: pre }

span.problematic {
  color: red }

span.section-subtitle {
  /* font-size relative to parent (h1..h6 element) */
  font-size: 80% }

table.citation {
  border-left: solid 1px gray;
  margin-left: 1px }

table.docinfo {
  margin: 2em 4em }

table.docutils {
  margin-top: 0.5em ;
  margin-bottom: 0.5em }

table.footnote {
  border-left: solid 1px black;
  margin-left: 1px }

table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
  padding-left: 0.5em ;
  padding-right: 0.5em ;
  vertical-align: top }

table.docutils th.field-name, table.docinfo th.docinfo-name {
  font-weight: bold ;
  text-align: left ;
  white-space: nowrap ;
  padding-left: 0 }

h1 tt.docutils, h2 tt.docutils, h3 tt.docutils,
h4 tt.docutils, h5 tt.docutils, h6 tt.docutils {
  font-size: 100% }

ul.auto-toc {
  list-style-type: none }


/***********************************************************************-*-c-*-
 Zwiki styles
 For easier upgrades, you may want to add your changes as overrides at the end
 *****************************************************************************/

/* colours and general styles */

/* default gray */
.shade1                  {color:gray;}
.shade1 a:link           {color:gray;}
.shade1 a:visited        {color:gray;}

.dimtext                 {font-size: 80%; color: gray;}

.linkpanel td, .linkpanel_minimal td {color: gray;}
                                      
.navpanel {
       color: gray;
}

.searchbox a:link        {color: gray;}
.searchbox a:visited     {color: #aaaaaa;}

.lasteditor              {color:gray;}

/* can't get these to combine with dimtext for some reason */
.highrated               {font-size: 80%; color: green} 
.neutralrated            {font-size: 80%; color: gray}
.lowrated                {font-size: 80%; color: red}

.commentsheader          {color:gray; font-weight:bold;}
.commentform             {color:gray;}

.subscribed              {} /* for subscribeform */
.notsubscribed           {}

/* background shade of form fields 
 * input,textarea,select {} would be cleaner but changes buttons too
 * (except file upload buttons)
 * can select with input[type=submit] but not in IE 
 */
.formfield               {background: #f0f0f0;}

body {
  margin:0; 
  padding:0;
  font-family:sans, sans-serif, verdana, arial, helvetica;
  color: black;
  background-color: white /*#eefff0*/ ;
  /* background: white url('top-border-fade.jpg') repeat-x; */
}
h2 {
  margin-top: 1.5em;
  font-size: 130%;
}
pre, code, tt {
  padding: 4px;
/*border-left: solid 1px #cc6600;*/
/*  background-color: #ffeed0;*/
  color: red;
  font-weight:bold;
}
.content {
  margin-top:2em;
  margin-left:2em; 
  margin-right:2em;
 /* width: 80%; */
  background-color: white;
} 
td.content {
 border: 1px solid #EEEEEE;
}
.formcontent {
 margin:8px;
} 
input,select {
  font-size:inherit;
}
.error { 
 color:red; background-color:#ffdddd; border:thin solid red; 
}

/* top stuff */

.linkpanel td, .linkpanel_minimal td {
  font-size: 80%;
}
.linkpanel a {
  text-decoration:none;
}
.wikilinks {
  font-weight: normal;
  vertical-align: middle;
}
.otherlinks {
  vertical-align: middle;
}
.navpanel {
  font-size: 80%;
}
.pageheader ul {
  margin-top:0px; margin-bottom:0px; margin-left:6px; padding-left:6px;
}
.logo_full { /*td*/
  padding-top: 0.5em;
  padding-right: 4px;
}
.logo_simple { /*td*/
  padding-top: 1em;
  padding-right: 4px;
}
.logo_minimal {
  padding-top: 1em;
  padding-right: 4px;
}
.pagenameand { /*td*/
 padding: 0;
 vertical-align: middle;
}
.pagenameonly { /*td*/
  font-size: xx-large;
  font-weight: bold;
  vertical-align: middle;
}
.searchbox {
  vertical-align: top;
  font-size: 80%;
}
#searchinput { /* generated tag with id=searchinput already has a class (multiple classes bad for IE<5.5 ?) */
 width:95%; 
 margin-top: 0px;
}
.lasteditor {
  font-style: italic;
}

/*
.preview {
  border:4px; width:100%; padding:10px; background-color:#ffffaa;
}
*/

/* subtopics styling (also page context and wiki contents)
 *
 * a screenshot would be better, but here's what these intend to do
 * (known to work in at least firefox 2):
 * - gray subtopics heading
 * - no list bullets
 * - only slight indentation
 * - black links
 * - no link underlining
 * - top-level subtopics are bold
 * - links get smaller with depth (down to your browser's minimum if any)
 *
 * currently, hierarchical page links as seen in subtopics, page context
 * above the title and wiki contents use the "outline" and "expandable" classes
 * and subtopics are additionally in a div with "subtopics" class
 */

div.subtopics {
  margin-top:1em;
}
.subtopics h4 {
  color: gray; 
/*  margin-bottom:0;*/
}
.subtopics ul {
  margin-left:0;
  padding-left:0;
  font-weight:bold;
}
.subtopics ul ul {
  font-weight:normal; 
  font-size:0.9em;
}
.outline ul {
  margin-left:1em;
  padding-left:0;
}
.outline li {
  list-style:none;
}
.outline a {   
  text-decoration: none; 
  color: black;
}
.expandable {
}

/* bottom stuff */

.commentform {
}

/* misc stuff */

#youarehere {
  color:red;
  font-size:normal;
  font-weight:bold;
}

/* handy for displaying completion status */
.incomplete {color: red;}
.zeropercent {color: red;}
.tenpercent {color: red;}
.twentypercent {color: red;}
.thirtypercent {color: red;}
.fortypercent {color: red;}
.fiftypercent {color: red;}
.sixtypercent {color: green;}
.seventypercent {color: green;}
.eightypercent {color: green;}
.ninetypercent {color: green;}
.onehundredpercent {color: green;}
.complete {color: green;}

/*
.link-external {
  background: transparent url(http://plone.zwiki.org/link_icon.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}
*/

/* overrides for standard docutils styles on restructured text pages */

div.sidebar {
  margin-left: 1em ;
  margin-bottom: 1em;
  padding: 1em ;
  float: right ;
  clear: right ;
  border: none;
  /*background-color: #ddbbff;*/
}

dt { font-weight:bold; }

/* these two hide the blank line after comment headings on RST pages
 * NB commentbody is misleading, it's only the first paragraph for now.
 */
.commentheading {
  margin-bottom:0;
}

.commentbody {
  margin-top:0;
}


/***********************************************************************-*-c-*-
 MathAction styles
 For easier upgrades, you may want to add your changes as overrides at the end
 *****************************************************************************/

pre, code {
  white-space: pre; /* CSS2 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

#axiomlabel {
    position:relative; 
    right:0.8em; 
    top:-0.2em; 
    font-size:100%; 
    color: #446644;
    font-family: monospace;
}
#axiomcode {
    background-color: transparent; 
    font-family: monospace; 
    font-size:100%;
}   
#axiomtext {
    margin-left:2em;
    background-color: lightgrey;
    font-family: monospace; 
    font-size:85%;
    padding: 1ex; padding-top: 0;
/*    border-width: 0.5ex;  border-style: inset; border-color:lightgrey;*/
}   
#axiomcode pre {
    margin-left:1.5em;
    background-color: lightgreen; 
    font-family: monospace; 
    font-size:85%;
    padding: 1ex; padding-top: 0;
/*    border-width: 0.5ex;  border-style: outset; border-color:lightgreen;*/
}
#reducelabel { 
    position:relative; 
    right:0.8em; 
    top:-0.2em; 
    font-size:73%; 
    color: #446644;
    font-family: monospace;
}
#reducecode {
    width:98%;
    margin-left:1em; margin-bottom:1ex; margin-top:1ex;
    white-space:pre;
    background-color: lightpink;
    font-family: monospace;
    font-size:85%
/*    border-width: 0.5ex;  border-style: outset; border-color:lightpink;*/
    padding: 1ex; padding-top: 0;
}
#reducecode pre {
    font-family: monospace;
    font-size:85%
}

#maximalabel {
    position:relative; 
    right:0.8em; 
    top:-0.2em; 
    font-size:100%; 
    color: #448844;
    font-family: monospace;
}
#maximacode {
    background-color: transparent; 
    font-family: monospace; 
    font-size:85%;
}   

#maximaoutput {
    margin-left:2em;
    background-color: transparent; 
    font-family: monospace; 
    font-size:85%;
}   
#maximainput {
    width:98%;
    margin-left:1em; margin-bottom:1ex; margin-top:1ex;
    background-color: lightblue;
    font-family: monospace; 
    font-size:85%;
    padding: 1ex; padding-top: 0;
/*    border-width: 0.5ex;  border-style: inset; border-color:lightgrey;*/
}

#maximacode pre {
    margin-left:1.5em;
    background-color: lightgrey; 
    font-family: monospace; 
    font-size:85%;
    padding: 1ex; padding-top: 0;
/*    border-width: 0.5ex;  border-style: outset; border-color:lightgrey;*/
}

img.equation { vertical-align: middle; border: 0px }


/***********************************************************************-*-c-*-
 Customizations for the above
 *****************************************************************************/

