/* colours */

/* default gray */
.shade1                  {color:gray; background: #dddddd;}
.shade1 a:link           {color:gray;}
.shade1 a:visited        {color:#aaaaaa;}

/* background shade of form fields */
/* this would be cleaner but changes buttons too (not file upload buttons) */
/* can select with input[type=submit] but not in IE */
/*input,textarea,select    {background: #f0f0f0;} */
.formfield               {background: #f0f0f0;}

.dimtext                 {font-size: 80%; color: gray;}
.commentsheading         {color:gray; font-weight:bold;}
.subscribed              {} /* for subscribeform */
.notsubscribed           {}
/* can't get these to combine with dimtext for some reason */
.highrated               {font-size: 80%; color: green} 
.neutralrated            {font-size: 80%; color: gray}
.lowrated                {font-size: 80%; color: red}
.searchbox a:link        {color: gray;}
.searchbox a:visited     {color: #aaaaaa;}
.lasteditor              {color:gray;}
.subtopicspanel          {color: gray; /*background: #dddddd;*/ }
.commentform             {color:gray;}
.linkpanel td, .linkpanel_minimal td {color: gray;}
.navpanel                {color: gray;}


/* pink */
/*.shade1                  {background: #ffeeee; color: #ddaaaa;}*/
/*.shade1 a:link           {color: #ddaaaa;}*/
/*.shade1 a:visited        {color: #ee8888;}*/
/*.formfield               {background: #fff0f0;}*/
/*.dimtext                 {color: gray;}*/
/*.searchbox a:link        {color: #ddaaaa;}*/
/*.searchbox a:visited     {color: #ee8888;}*/
/*.lasteditor              {color:#ddaaaa;}*/
/*.subtopicspanel          {color:#ddaaaa; border-top:thin solid #ddaaaa;}*/
/*.commentform             {color:#ddaaaa;}*/


/* general styles */

body {
  margin:0; padding:0;
  font-family:sans, verdana, arial, helvetica, sans-serif; 
  /*font-size:90%;*/
  color: black;
  background-color: white;
}
body h2 {
  margin-top: 1.5em;
  font-size: 130%;
  border-bottom: 1px solid #99c;
}
pre, code {
  background-color: #FFF8ED;
  /*color: black;*/
}
.content {
  margin-left:8px; margin-right:8px;
  /* more whitespace.. adjust left margin to approx. logo width */
  /*margin-left:64px; margin-right:32px;*/
} 
.formcontent {
 margin:8px;
} 
.logo_full, .logo_simple {
 padding:4px;
}
.pageheading ul {
  margin-top:0px; margin-bottom:0px; margin-left:6px; padding-left:6px;
}
.subtopicspanel ul {
  margin-top:0px; margin-bottom:0px; margin-left:12px; padding-left:12px;
}
.pageheading li, .subtopicspanel li {
  list-style:none;
}
.subtopicspanel td ul {
  font-weight:bold;
}
.subtopicspanel td ul ul {
  font-weight:normal; font-size:0.9em;
}
.linkpanel {
}
.linkpanel_minimal {
}
.linkpanel td, .linkpanel_minimal td {
  font-size: 80%;
}
.pagemanagement { /* no class/id like this seems to be generated */
}
.quicklinks {
  font-weight: normal;
  vertical-align: middle;
}
.otherlinks {
  vertical-align: middle;
}
.otherlinks_minimal { /* no class/id like this seems to be generated */
  vertical-align: top;
  padding: 0px;
}
.navpanel {
  font-size: 80%;
}
.logo_full { /*td*/
  padding-top: 0.5em;
  padding-right: 4px;
}
.logo_simple { /*td*/
  padding-top: 1em;
  padding-right: 4px;
}
.logo_minimal {
  padding-top: 1em;
  padding-right: 4px;
}
.pagenameand { /*td*/
 padding: 0;
 vertical-align: middle;
}
.pagenameand_X { /*td*/
 padding: 1.15em 3em;
 vertical-align: middle;
}
.pagenameand_linear { /*td*/
 padding: 1.15em;
 vertical-align: middle;
}
.pagenameonly { /*td*/
  font-size: xx-large;
  font-weight: bold;
  vertical-align: bottom;
}
.pagename_minimal {
  font-size: xx-large;
  font-weight: bold;
  vertical-align: bottom;
}
.searchbox {
  vertical-align: top;
  font-size: 80%;
}
#searchinput { /* generated tag with id=searchinput already has a class (multiple classes bad for IE<5.5 ?) */
 width:95%; 
 margin-top: 0px;
}
.lasteditor {
  font-style: italic;
}
.commentform {
}

input,select {font-size:inherit;}

.error { color:red; background-color:#ffdddd; border:thin solid red; }

td.content {
	border: 1px solid #EEEEEE;
}
/* handy for displaying completion status */
.incomplete {color: red;}
.semicomplete {color: black;}
.complete {color: green;}
.unknownpercent {color: red;}
.zeropercent {color: red;}
.tenpercent {color: red;}
.twentypercent {color: red;}
.thirtypercent {color: red;}
.fortypercent {color: red;}
.fiftypercent {color: red;}
.sixtypercent {color: green;}
.seventypercent {color: green;}
.eightypercent {color: green;}
.ninetypercent {color: green;}
.onehundredpercent {color: green;}
